///general


$blue: rgb(53, 160, 205);
$medium: 640px;
$large: 1023px;

.position-relative {
    position: relative;
}

@mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large}) {
        @content;
    }
}

.section {

    padding-bottom: 2rem;

    @include medium {
        padding-bottom: 4rem;
    }

    @include large {
        padding-bottom: 8rem;
    }
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-2rem {
    margin-bottom: 2rem;

    @include medium {
        margin-bottom: 0;
    }
}

.uppercase-text {
    text-transform: uppercase;
    margin-bottom: 2rem;
    opacity: 0.7;
    line-height: 1.3;

    font-size: 12px;

    @include medium {
        font-size: 14px;
        width: 80%;
    }

    @include large {
        font-size: 16px;
    }
}


////typhograpgy

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    color: #444343;
}

p {
    margin-bottom: 0;
    font-size: 12px;

    @include medium {
        font-size: 14px;
    }

    @include large {
        font-size: 16px;
    }
}

a {
    transition: .3s ease-in-out;
}


.big-title {
    color: $blue;
    font-size: 25px;

    @include medium {
        font-size: 30px;
    }

    @include large {
        margin-bottom: 2rem;

    }
}






// header///
.hamburger {
    div {

        width: 35px;
        height: 5px;
        background-color: $blue;
        border-radius: 5px;
        margin: 4px 0;
        transition: .3s ease-in-out;
    }

    &:hover {
        cursor: pointer;

        // div {
        //     width: 45px;
        // }
    }
}

@keyframes example {
    from {
      display: none;
      opacity: 0;
    }
  
    to {
      display: block;
      opacity: 1;
    }
  }

.mobile-menu-absolute {
    display: none;
    animation-name: example;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    &_close {
        position: fixed;
        right: 38px;
        top: 25px;
        img {
            filter: brightness(0) invert(1);
            width: 20px;
            transition: .3s ease-in-out;
            &:hover {
                cursor: pointer;
                transform: scale(1.2);
                // transform: rotate(90deg);
            }
        }
    }
    z-index: 100;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 37, 37, 0.95);

    &_inside {
        position: relative;
        text-align: center;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;

        &:hover {
            li {
                opacity: 0;
            }
        }


        li {
            // &::before {
            //     content: attr(data-text);
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     // background: linear-gradient(90deg, transparent, rgba(255,255,255,0.8), transparent);
            //     // transform: skewY(35deg);
            //     opacity: 0;
            //     color: rgba(0, 0, 0, 0.514);

            // }
            &:hover {
                cursor: pointer;
                color: $blue;
                transform: scale(1.4);
                z-index: 1000;
                opacity: 1;
                // &::before {
                //     z-index: 1;
                //     opacity: 0.4;
                //     transform: scale(1.7);

                // }

            }
        
            z-index: 1000;
            color: #fff;
            transition: .3s ease-in-out;
            font-weight: 700;
            font-size: 25px;
            padding-bottom: 10px;
            position: relative;

        }

    }

}

//////////////

.mobile-nav {
    transition: .3s ease-in-out;
    z-index: 10;
    position: fixed;
    width: 100%;
    background: #fff;
    display: block;

    @include large {
        display: none;
    }

    &_inside {
        transition: .3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;

        svg {
            width: 35px;
        }
    }
}










/////////////

// @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500;600&display=swap');

.name {
    // font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Mali', cursive;
    line-height: 1;
    font-size: 20px;
    padding-right: 10px;
    font-weight: 500;

    @include medium {
        font-size: 25px;
    }

    @include large {
        font-size: 28px;
    }


}

.header-box {
    display: none;

    @include large {
        display: block;
    }

    transition: .3s ease-in-out;
    position: fixed;
    background: #fff;
    z-index: 10;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    // box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.11);
    &_menu-big {

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-left: 0;
            margin-bottom: 0;

            li {
                &:hover {
                    cursor: pointer;
                    color: $blue
                }

                transition: .3s ease-in-out;
                font-weight: 700;
                font-size: 12px;

                @include medium {
                    font-size: 14px;
                }

                @include large {
                    font-size: 17px;
                }
            }
        }

    }

}

.scrolled {
    background: $blue;

    .mobile-nav_inside {
        padding: 1rem 2rem;
    }

    @include large {
        padding: 1rem 0;

    }

    .hamburger div {
        background-color: #fff;
    }

    li {
        color: #fff;

        &:hover {
            color: #fff !important;
            opacity: 0.7;
        }
    }

    .name {
        color: #fff;
    }
}

////////////about

.about {
    .big-title {
        text-align: center;

        @include medium {
            text-align: left;
        }
    }


    svg {
        path {
            // fill: transparent;
           stroke-dasharray: 1680;
           stroke-dashoffset: 0;
           animation: animete-heart 2s linear forwards;
        }

        @keyframes animete-heart {
            0% {
                stroke-dashoffset: 0;
            }
            1% {
                stroke-dashoffset: 1680;
            }
            
        }

        padding: 0 2rem;
        @media(min-width: 400px) {
            padding: 0 4rem;
        }

        @include medium {
            padding: 0;
        }
    }

    padding-top: 7rem;

    @include medium {
        padding-top: 8rem;
    }
}


////////////projects

.projects {
    &_p-box {
        display: flex;
        justify-content: center;
    }

    &_inside {
        max-width: 350px;
        box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.11);
        overflow: hidden;
        border-radius: 5px;
        position: relative;

        &:hover {
            .projects_blue {
                opacity: 1;
                cursor: pointer;
            }

            .projects_items {
                transform: scale(1.1);
            }
        }
    }

    &_items {
        height: 200px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &_items-box {
        justify-content: center;
    }

    &_items-one {
        background-image: url("../img/hae-min.PNG");
    }

    &_items-two {
        background-image: url("../img/ligra-min.PNG");
    }

    &_items-three {
        background-image: url("../img/salvis-min.PNG");
        background-position: center;
    }

    &_items-four {
        background-image: url("../img/miodowe-min.PNG");
        background-position: center;
    }

    &_items-five {
        background-image: url("../img/zielinski-min.PNG");

    }

    &_items-six {
        background-image: url("../img/wcs-min.PNG");
        background-position: center;
    }

    &_items-seven {
        background-image: url("../img/heyday-min.PNG");
        background-position: center;
    }

    &_items-eight {
        background-image: url("../img//drewmar-min.PNG");
        background-position: center;
    }

    &_items-nine {
        background-image: url("../img/bettre-smile-min.PNG");
        background-position: center;
    }

    &_blue {
        opacity: 0;
        position: absolute;
        transition: .3s ease-in-out;
        width: 100%;
        height: 100%;
        background: rgba(53, 159, 205, 0.8);
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: #fff;
            font-size: 25px;
            font-weight: 400;
        }
    }
}

.technologies {
    .uppercase-text {
        width: 100%;
    }

    &_inside {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &_img-box {
        padding: 1rem;

        img {
            height: 100px;
        }
    }
}

.contact {
    &_links-box {
        width: 300px;
        margin: auto;

        @include medium {
            display: flex;
            justify-content: flex-start;;
            margin-bottom: 0;
            margin: unset;
        }
        @include large {
            justify-content: center;
        }
    }

    &_links {

        a:hover {
            .link {
                transform: scale(1.2);
            }
        }

        a {
            padding-right: 10px;

            &:last-child {
                padding-right: 0;
            }
        }

        margin-bottom: 2rem;

        @include medium {
            margin-bottom: 0;
        }

        filter: brightness(0) invert(1);


        .link {
            transition: .3s ease-in-out;
            height: 40px;
        }
    }

    .uppercase-text {
        color: #fff;
        width: 100%;
        text-transform: none;
        font-size: 18px;
    }

    background: $blue;
    padding: 2rem 0;
    color: #fff;

    .big-title {
        color: #fff;
    }



    &_inside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        max-width: 300px;
        margin: auto;

        @include medium {
            max-width: none;
        }
    }

    &_item {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            width: 40px;
            margin-right: 1rem;
        }

        p {
            color: #fff;
            font-size: 18px;
        }
    }
}

///////////////footer

.footer-copyright {
    padding: 10px 0;
    font-size: 11px;

    img {
        width: 20px;
    }
}




/////////////////fade-in
.module {
    transform: translateY(50px);
    @include medium {
        transform: translateY(150px);

    }
}
.come-in {
    
    // @include medium {
    // transform: translateY(150px);

    animation: come-in 0.8s ease-in-out forwards;

     
        &:nth-child(odd) {
            animation-duration: 0.6s;
        }
    // }
    
  }
  
  @keyframes come-in {
    to { transform: translateY(0); }
  }

  .already-visible {
      animation: none;
      transform: none;
  }