@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500;600&display=swap");
.position-relative {
  position: relative;
}

.section {
  padding-bottom: 2rem;
}

@media (min-width: 640px) {
  .section {
    padding-bottom: 4rem;
  }
}

@media (min-width: 1023px) {
  .section {
    padding-bottom: 8rem;
  }
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-2rem {
  margin-bottom: 2rem;
}

@media (min-width: 640px) {
  .small-2rem {
    margin-bottom: 0;
  }
}

.uppercase-text {
  text-transform: uppercase;
  margin-bottom: 2rem;
  opacity: 0.7;
  line-height: 1.3;
  font-size: 12px;
}

@media (min-width: 640px) {
  .uppercase-text {
    font-size: 14px;
    width: 80%;
  }
}

@media (min-width: 1023px) {
  .uppercase-text {
    font-size: 16px;
  }
}

* {
  font-family: 'Lato', sans-serif;
  color: #444343;
}

p {
  margin-bottom: 0;
  font-size: 12px;
}

@media (min-width: 640px) {
  p {
    font-size: 14px;
  }
}

@media (min-width: 1023px) {
  p {
    font-size: 16px;
  }
}

a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.big-title {
  color: #35a0cd;
  font-size: 25px;
}

@media (min-width: 640px) {
  .big-title {
    font-size: 30px;
  }
}

@media (min-width: 1023px) {
  .big-title {
    margin-bottom: 2rem;
  }
}

.hamburger div {
  width: 35px;
  height: 5px;
  background-color: #35a0cd;
  border-radius: 5px;
  margin: 4px 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

@-webkit-keyframes example {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes example {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.mobile-menu-absolute {
  display: none;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 100;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.95);
}

.mobile-menu-absolute_close {
  position: fixed;
  right: 38px;
  top: 25px;
}

.mobile-menu-absolute_close img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.mobile-menu-absolute_close img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mobile-menu-absolute_inside {
  position: relative;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.mobile-menu-absolute_inside:hover li {
  opacity: 0;
}

.mobile-menu-absolute_inside li {
  z-index: 1000;
  color: #fff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 10px;
  position: relative;
}

.mobile-menu-absolute_inside li:hover {
  cursor: pointer;
  color: #35a0cd;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  z-index: 1000;
  opacity: 1;
}

.mobile-nav {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 10;
  position: fixed;
  width: 100%;
  background: #fff;
  display: block;
}

@media (min-width: 1023px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav_inside {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 2rem;
}

.mobile-nav_inside svg {
  width: 35px;
}

.name {
  font-family: 'Mali', cursive;
  line-height: 1;
  font-size: 20px;
  padding-right: 10px;
  font-weight: 500;
}

@media (min-width: 640px) {
  .name {
    font-size: 25px;
  }
}

@media (min-width: 1023px) {
  .name {
    font-size: 28px;
  }
}

.header-box {
  display: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: fixed;
  background: #fff;
  z-index: 10;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 1023px) {
  .header-box {
    display: block;
  }
}

.header-box_menu-big ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0;
  margin-bottom: 0;
}

.header-box_menu-big ul li {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-weight: 700;
  font-size: 12px;
}

.header-box_menu-big ul li:hover {
  cursor: pointer;
  color: #35a0cd;
}

@media (min-width: 640px) {
  .header-box_menu-big ul li {
    font-size: 14px;
  }
}

@media (min-width: 1023px) {
  .header-box_menu-big ul li {
    font-size: 17px;
  }
}

.scrolled {
  background: #35a0cd;
}

.scrolled .mobile-nav_inside {
  padding: 1rem 2rem;
}

@media (min-width: 1023px) {
  .scrolled {
    padding: 1rem 0;
  }
}

.scrolled .hamburger div {
  background-color: #fff;
}

.scrolled li {
  color: #fff;
}

.scrolled li:hover {
  color: #fff !important;
  opacity: 0.7;
}

.scrolled .name {
  color: #fff;
}

.about {
  padding-top: 7rem;
}

.about .big-title {
  text-align: center;
}

@media (min-width: 640px) {
  .about .big-title {
    text-align: left;
  }
}

.about svg {
  padding: 0 2rem;
}

.about svg path {
  stroke-dasharray: 1680;
  stroke-dashoffset: 0;
  -webkit-animation: animete-heart 2s linear forwards;
          animation: animete-heart 2s linear forwards;
}

@-webkit-keyframes animete-heart {
  0% {
    stroke-dashoffset: 0;
  }
  1% {
    stroke-dashoffset: 1680;
  }
}

@keyframes animete-heart {
  0% {
    stroke-dashoffset: 0;
  }
  1% {
    stroke-dashoffset: 1680;
  }
}

@media (min-width: 400px) {
  .about svg {
    padding: 0 4rem;
  }
}

@media (min-width: 640px) {
  .about svg {
    padding: 0;
  }
}

@media (min-width: 640px) {
  .about {
    padding-top: 8rem;
  }
}

.projects_p-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects_inside {
  max-width: 350px;
  -webkit-box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.11);
          box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.11);
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.projects_inside:hover .projects_blue {
  opacity: 1;
  cursor: pointer;
}

.projects_inside:hover .projects_items {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects_items {
  height: 200px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.projects_items-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects_items-one {
  background-image: url("../img/hae-min.PNG");
}

.projects_items-two {
  background-image: url("../img/ligra-min.PNG");
}

.projects_items-three {
  background-image: url("../img/salvis-min.PNG");
  background-position: center;
}

.projects_items-four {
  background-image: url("../img/miodowe-min.PNG");
  background-position: center;
}

.projects_items-five {
  background-image: url("../img/zielinski-min.PNG");
}

.projects_items-six {
  background-image: url("../img/wcs-min.PNG");
  background-position: center;
}

.projects_items-seven {
  background-image: url("../img/heyday-min.PNG");
  background-position: center;
}

.projects_items-eight {
  background-image: url("../img//drewmar-min.PNG");
  background-position: center;
}

.projects_items-nine {
  background-image: url("../img/bettre-smile-min.PNG");
  background-position: center;
}

.projects_blue {
  opacity: 0;
  position: absolute;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 100%;
  height: 100%;
  background: rgba(53, 159, 205, 0.8);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects_blue p {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}

.technologies .uppercase-text {
  width: 100%;
}

.technologies_inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technologies_img-box {
  padding: 1rem;
}

.technologies_img-box img {
  height: 100px;
}

.contact {
  background: #35a0cd;
  padding: 2rem 0;
  color: #fff;
}

.contact_links-box {
  width: 300px;
  margin: auto;
}

@media (min-width: 640px) {
  .contact_links-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
    margin: unset;
  }
}

@media (min-width: 1023px) {
  .contact_links-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact_links {
  margin-bottom: 2rem;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.contact_links a:hover .link {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact_links a {
  padding-right: 10px;
}

.contact_links a:last-child {
  padding-right: 0;
}

@media (min-width: 640px) {
  .contact_links {
    margin-bottom: 0;
  }
}

.contact_links .link {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  height: 40px;
}

.contact .uppercase-text {
  color: #fff;
  width: 100%;
  text-transform: none;
  font-size: 18px;
}

.contact .big-title {
  color: #fff;
}

.contact_inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 300px;
  margin: auto;
}

@media (min-width: 640px) {
  .contact_inside {
    max-width: none;
  }
}

.contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.contact_item:last-child {
  margin-bottom: 0;
}

.contact_item img {
  width: 40px;
  margin-right: 1rem;
}

.contact_item p {
  color: #fff;
  font-size: 18px;
}

.footer-copyright {
  padding: 10px 0;
  font-size: 11px;
}

.footer-copyright img {
  width: 20px;
}

.module {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@media (min-width: 640px) {
  .module {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
}

.come-in {
  -webkit-animation: come-in 0.8s ease-in-out forwards;
          animation: come-in 0.8s ease-in-out forwards;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes come-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.already-visible {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: none;
          transform: none;
}
/*# sourceMappingURL=style.css.map */